header{
    color: black;
    display: flex;
    justify-content: space-around;
    background-color: blue;
}
body{
    margin: 0;
}
.pen{
    background-color: red;
    width: 100px;
    height: 100px;
}
.nep{
    background-color: yellow;
    width: 100px;
    height: 100px;
    
}
.map{
    display: flex;
    justify-content: space-around;
}
.epn{
    background-color: green;
    width: 100px;
    height: 100px;
}