header{
    color: black;
    display: flex;
    justify-content: space-around;
    background-color: blue;
}
body{
    margin: 0;
}
.pen{
    background-color: red;
    width: 100px;
    height: 100px;
}